@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
@media only screen and (max-width:600px){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .responsive-mobile{
        padding-top: 15px;
        padding-right: 20px;
        cursor: pointer;
    }
    .menu{
        display: none;
        background-color: aliceblue;
        width: 100%;
        position: absolute;
        z-index: 2;
    }
    .menu ul li{
        text-align: center;
        display: block;
        padding-bottom: 15px;
        list-style: none;
    }
    .menu ul li a{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    .menu ul li a:hover{
        color: red;
    }
    .close{
        cursor: pointer;
        font-size: 40px;
        padding-top: 20px;
        padding-left: 20px;
    }
    .close:hover{
        color: red;
    }
    .navigation-icons{
        text-align: center;
    }
    .navigation-icons img{
        padding: 20px;
        cursor: pointer;
    }
    /* navigation section end */
    .banner{
        width: 100%;
        height: 47vh;
        background-color: #ff3c3c;
        clip-path: polygon(100% 0, 100% 84%, 85% 84%, 68% 87%, 51% 91%, 33% 94%, 15% 95%, 0 94%, 0% 35%, 0 0);
        
    }
    .banner__contant{
        background-color: #F6F6F6;
        padding: 10%;
        width: 100%;
        height: 45vh;
        text-align: center;
        clip-path: polygon(100% 0, 100% 84%, 85% 84%, 68% 87%, 51% 91%, 33% 94%, 15% 95%, 0 94%, 0% 35%, 0 0);
        
    }
    .banner__contant h1 span{
        color: #ff3c3c;
    }
    /* banner section end */
    .service{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0 7%;
    }
    .service__item_1{
        padding-top: 30px;
        position: relative;
    }
    .service__item_2 img{
        width: 100%;
    }
    .service__item_1 h2{
        font-size: 25px;
        padding-bottom: 50px;
    }
    .service__item_1::before{
        content: '';
        position: absolute;
        top: 55px;
        left: 5px;
        width: 80px;
        height: 30px;
        background-color: #ff3c3c;
        clip-path: polygon(0 42%, 17% 32%, 36% 42%, 56% 29%, 74% 40%, 98% 31%, 100% 36%, 75% 46%, 56% 36%, 37% 48%, 17% 39%, 1% 48%);
    }
    .service__item_1 p{
        padding-bottom: 20px;
        line-height: 23px;
    }
    .service__item_1 p span{
        color: red;
        font-weight: bold;
    }
    /* service section end */
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }
    .footer-1 h2{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .footer-1 p{
        padding-bottom: 20px;
        color: #263238;
    }
    .footer-2 h1{
        font-size: 25px;
        padding-bottom: 20px;
    }
    .footer-2 p{
        color: #263238;
        line-height: 25px;
    }
    .footer-3 {
        padding-bottom: 35px;
    }
    .footer-3 img{
        width: 30%;
    }
    .footer-3 img:nth-of-type(4){
        width: 20%;
        padding-top: 10px;
    }
    .footer-copyright{
        background-color: red;
        padding: 10px;
        color: white;
        text-align: center;
    }
}
@media only screen and (min-width:600px){
    .responsive-mobile{
        display: none;
    }
    .close{
        display: none;
    }
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    
    .menu{
        flex-basis: 70%;
    }
    .menu{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .menu ul li{
        display: inline-block;
        padding-right: 25px;
        list-style: none;
    }
    .menu ul li a{
        text-decoration: none;
        font-size: 18px;
        color: black;
    }
    .navigation-icons img{
        padding-right: 15px;
        cursor: pointer;
    }
    /* navigition  section end */
    /* banner section start */
    .banner{
        width: 100%;
        height: 72vh;
        background-color: #ff3c3c;
        clip-path: polygon(0 0, 0 88%, 13% 93%, 25% 95%, 36% 95%, 52% 91%, 63% 87%, 73% 85%, 85% 86%, 100% 90%, 100% 0, 56% 0);
    }
    .banner__contant{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6F6F6;
        padding: 50;
        clip-path: polygon(0 0, 0 88%, 13% 93%, 25% 95%, 36% 95%, 52% 91%, 63% 87%, 73% 85%, 85% 86%, 100% 90%, 100% 0, 56% 0);
    }
    .banner h1{
        width: 400px;
        text-align: center;
        line-height: 40px;
    }
    .banner h1 span{
        color: red;
    }
    /* banner section end */
    .service{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 0 10%;
    }
    .service__item_1{
        flex-basis: 50%;
        padding-top: 30px;
        position: relative;
    }
    .service__item_2{
        flex-basis: 50%;
    }
    .service__item_2 img{
        width: 90%;
    }
    .service__item_1 h2{
        font-size: 25px;
        padding-bottom: 50px;
    }
    .service__item_1::before{
        content: '';
        position: absolute;
        top: 55px;
        left: 5px;
        width: 80px;
        height: 30px;
        background-color: #ff3c3c;
        clip-path: polygon(0 42%, 17% 32%, 36% 42%, 56% 29%, 74% 40%, 98% 31%, 100% 36%, 75% 46%, 56% 36%, 37% 48%, 17% 39%, 1% 48%);
    }
    .service__item_1 p{
        padding-bottom: 20px;
        line-height: 23px;
    }
    .service__item_1 p span{
        color: red;
        font-weight: bold;
    }
    /* service section end */
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 20px 50px;
    }
    .footer-1{
        flex-basis: 35%;
    }
    .footer-1 h2{
        font-size: 20px;
        padding-bottom: 15px;
        color: #263238;
    }
    .footer-2{
        flex-basis: 25%;
    
    }
    .footer-2 h1{
        font-size: 25px;
        padding-bottom: 25px;
    }
    .footer-2 p{
        line-height: 25px;
    }
    .footer-3{
        flex-basis: 40%;
        padding-top: 40px;
    }
    .footer-copyright{
        background-color: red;
        padding: 10px;
        text-align: center;
        color: white;
    }
}