@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
@media only screen and (max-width: 600px) {
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .responsive-mobile{
        padding-top: 15px;
        padding-right: 20px;
        cursor: pointer;
    }
    .menu{
        display: none;
        background-color: aliceblue;
        width: 100%;
        position: absolute;
    }
    .menu ul li{
        text-align: center;
        display: block;
        padding-bottom: 15px;
        list-style: none;
    }
    .menu ul li a{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    .menu ul li a:hover{
        color: red;
    }
    .close{
        cursor: pointer;
        font-size: 40px;
        padding-top: 20px;
        padding-left: 20px;
    }
    .close:hover{
        color: red;
    }
    .navigation-icons{
        text-align: center;
    }
    .navigation-icons img{
        padding: 20px;
        cursor: pointer;
    }
    /* navigation section end */
    .banner{
        position: relative;
        width: 100%;
        height: 75vh;
        background-color: #f6f6f6;
        clip-path: polygon(100% 0, 100% 71%, 90% 78%, 77% 84%, 57% 88%, 39% 88%, 22% 84%, 10% 77%, 0 67%, 0 0);
        z-index: -1;
    }
    .banner__contant{
        width: 100%;
        height: 72vh;
        background-color: #ff3c3c;
        clip-path: polygon(100% 0, 100% 71%, 90% 78%, 77% 84%, 57% 88%, 39% 88%, 22% 84%, 10% 77%, 0 67%, 0 0);
        text-align: center;
        position: relative;
        z-index: -1;
    }
    .banner__contant h1{
        padding: 50px 7% 50px 7%;
    }
    .banner__contant a{
        text-decoration: none;
        color: #ff3c3c;
        background-color: white;
        padding: 10px 12px;
        border-radius: 3px;
    }
    .banner__contant h1{
        color: white;
        font-weight: 400;
    }
    .banner__contant h1 span{
        font-weight: bold;
    }
    .mackbook{
        position: absolute;
        top: 60%;
        left: 20%;
        
    }
    .mackbook img{
        width: 80%;
    }
    header{
        width: 100%;
        height: 90vh;
    }
    /* banner section end */
    .technology__img{
        text-align: center;
        padding-bottom: 50px;
    }
    .technology__img img{
        width: 60px;
       padding-right: 10px;
    }
    .technology-text{
        padding: 0 5% 40px 5%;
        position: relative;
    }
    .technology-text h2{
        padding-bottom: 50px;
    }
    .technology-text::before{
        content: '';
        position: absolute;
        top: 25px;
        left: 25px;
        width: 80px;
        height: 30px;
        background-color: #ff3c3c;
        clip-path: polygon(0 42%, 17% 32%, 36% 42%, 56% 29%, 74% 40%, 98% 31%, 100% 36%, 75% 46%, 56% 36%, 37% 48%, 17% 39%, 1% 48%);
    }
    .technology-text p{
        padding-bottom: 30px;
    }
    /* technology section end */
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }
    .footer-1 h2{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .footer-1 p{
        padding-bottom: 20px;
        color: #263238;
    }
    .footer-2 h1{
        font-size: 25px;
        padding-bottom: 20px;
    }
    .footer-2 p{
        color: #263238;
        line-height: 25px;
    }
    .footer-3 {
        padding-bottom: 35px;
    }
    .footer-3 img{
        width: 30%;
    }
    .footer-3 img:nth-of-type(4){
        width: 20%;
        padding-top: 10px;
    }
    .footer-copyright{
        background-color: red;
        padding: 10px;
        color: white;
        text-align: center;
    }
}
/* iped and midem device responsive */
@media only screen and (min-width: 600px) {
    .responsive-mobile{
        display: none;
    }
    .close{
        display: none;
    }
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    
    .menu{
        flex-basis: 70%;
    }
    .menu{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .menu ul li{
        display: inline-block;
        padding-right: 25px;
        list-style: none;
    }
    .menu ul li a{
        text-decoration: none;
        font-size: 18px;
        color: black;
    }
    .navigation-icons img{
        padding-right: 15px;
        cursor: pointer;
    }
    /* navigition  section end */
    .banner{
        width: 100%;
        height: 78vh;
        background-color: #f6f6f6;
        clip-path: polygon(100% 0, 100% 57%, 84% 66%, 65% 74%, 52% 76%, 39% 75%, 24% 70%, 10% 63%, 0 56%, 0 0);
        position: relative;
    }
    .banner__contant{
        width: 100%;
        height: 75vh;
        background-color: red;
        text-align: center;
        clip-path: polygon(100% 0, 100% 57%, 84% 66%, 65% 74%, 52% 76%, 39% 75%, 24% 70%, 10% 63%, 0 56%, 0 0);
    }
    .banner__contant h1{
        padding-top: 7%;
        color: white;
        font-weight: 400;
        padding-bottom: 50px;
    }
    .banner__contant h1 span{
        font-weight: bold;
    }
    .banner__contant a{
        text-decoration: none;
        color: red;
        background-color: white;
        padding: 10px 12px;
        border-radius: 3px;
    }
    .mackbook{
        position: absolute;
        top: 58%;
        left: 30%;
    }
    header{
        width: 100%;
        height: 120vh;
    }
    .technology__img{
        text-align: center;
        padding-bottom: 50px;
    }
    .technology__img img{
        padding-right: 90px;
    }
    .technology-text{
        padding: 0 10% 50px 10%;
        position: relative;

    }
    .technology-text::before{
        content: '';
        position: absolute;
        top: 25px;
        left: 11%;
        width: 80px;
        height: 30px;
        background-color: #ff3c3c;
        clip-path: polygon(0 42%, 17% 32%, 36% 42%, 56% 29%, 74% 40%, 98% 31%, 100% 36%, 75% 46%, 56% 36%, 37% 48%, 17% 39%, 1% 48%);
    }
    .technology-text h2{
        padding-bottom: 50px;
    }
    .technology-text p{
        padding-bottom: 30px;
    }
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 20px 50px;
    }
    .footer-1{
        flex-basis: 35%;
    }
    .footer-1 h2{
        font-size: 20px;
        padding-bottom: 15px;
        color: #263238;
    }
    .footer-2{
        flex-basis: 25%;
    
    }
    .footer-2 h1{
        font-size: 25px;
        padding-bottom: 25px;
    }
    .footer-2 p{
        line-height: 25px;
    }
    .footer-3{
        flex-basis: 40%;
        padding-top: 40px;
    }
    .footer-copyright{
        background-color: red;
        padding: 10px;
        text-align: center;
        color: white;
    }
    
}